.takeQuiz {
  display: flex;
  justify-content: center;
}

.flexNav {
  flex: 1 !important;
}

.rightNav {
  display: flex;
  justify-content: flex-end;
}

.borderNav {
  background-color: #ffffff;
  margin: 5px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #000000;
}

.avatarImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.takeQuizMobile {
  display: none;
}

.responsiveAvatar {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .takeQuiz {
    display: none;
  }
  .takeQuizMobile {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -52px;
    /* padding-left: 28%; */
    margin-left: 30%;
    color: black;
    font-size: 20px;
  }
  .responsiveAvatar {
    position: absolute;
    display: block !important;
    right: 10px;
    margin-top: -50px;
  }
  /* .navBrand{
    display: none;
  } */
}

/* .fontNav {
  font-weight: bold;
} */
